/* shared related styles */

.poppins{
    font-family: "Poppins", sans-serif;
}
.inter{
    font-family: "Inter", sans-serif;
}
header{
    max-width: 1140px;
    margin: 0 auto;
}
main{
    max-width: 1044px;
    margin: 0 auto;
}
/* nav related styles */
.nav-title{
    color: rgb(58, 58, 58);
font-size: 1.5rem;
font-weight: 700;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav > ul{
    display: flex;
    align-items: center;
    gap: 20px;
}
nav li{
    list-style-type: none;
}
nav li a{
    text-decoration: none;
    color: rgb(58, 58, 58);
font-size: 1rem;
font-weight: 600;
}
/* hero section */
.hero-content{
    width: 550px;
}
.hero-title{
    color: rgb(58, 58, 58);
font-size: 3.25rem;
font-weight: 700;
}
.hero-desc{
    color: rgb(58, 58, 58);
font-size: 1rem;
font-weight: 600;
margin-top: -42px;
}
.hero-btn{
    border-radius: 41px;
background: rgb(224, 44, 109);
padding: 10px 24px;
color: rgb(255, 255, 255);
font-size: 1rem;
font-weight: 700;
border: none;
}
.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-img{
    margin-top: 60px;
    background-image: url('./images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
/* logo section */
.logo-container{
    /* display: grid;
    grid-template-columns: repeat(7,1fr); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 90px;
}
/* gallery section */
.gallery-title{
    color: rgb(58, 58, 58);
font-size: 1.7rem;
font-weight: 600;
text-align: center;
margin-top: 90px;
margin-bottom: 30px;
}
.fa-star{
    color: Orange;
}
.gallery-title-flex{
    color: rgb(24, 25, 31);
    font-size: 1.7rem;
    font-weight: 500;
}
.gallery-sub-title{
    color: rgba(0, 0, 0, 0.87);
font-size: 1.5rem;
font-weight: 400;
}
.gallery-rating, .gallery-desc{
    color: rgb(94, 99, 102);
font-size: 0.9rem;
font-weight: 700;
}
.gallery-one{
    border-radius: 5px;

box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
background: rgb(255, 255, 255);
padding: 15px;
}
.gallery-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
/* featured */
.featured-btn{
    border-radius: 8px;
}
.featured-container{
    margin-top: 130px;
    margin-bottom: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.featured-title{
    color: rgb(10, 8, 38);
font-size: 2.3rem;
font-weight: 700;
margin-bottom: -10px;
}
.featured-desc{
    color: rgb(108, 108, 108);
font-size: 1rem;
font-weight: 700;
width: 550px;
}
/* footer */
footer{
    background: rgb(11, 10, 10);
    text-align: center;
    padding: 30px;
    color: white;
}
.footer-icons{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.footer-title{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 700;
}
.footer-desc, .footer-icons{
    color: rgb(217, 219, 225);
font-size: 0.9rem;
font-weight: 700;
}

/* mobile device responsive */
@media screen and (max-width:576px) {
    .nav-container,.hero-container, .featured-container{
        flex-direction: column;
    }
    nav > ul{
        flex-wrap: wrap;
        gap: 10px;
    }
    /* hero */
    .hero-pic{
        width: 100%;
    }
    /* .hero-container{
        flex-direction: row-reverse;
    } */
    .hero-content{
        width: 100%;
    }
    .hero-title{
    font-size: 1.5rem;
    }
    .hero-desc{
    margin-top: 24px;
    }
    .hero-container{
        padding: 20px;
        text-align: center;
    }
    .logo-container{
        flex-wrap: wrap;
        gap: 10px;
        padding: 20px;
        margin-top: 40px;
    }
    /* gallery section */
.gallery-title{
margin-top: 40px;
margin-bottom: 20px;
}
.fa-star{
    color: Orange;
}
.gallery-container{
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
}
.gallery-one img{
    width: 100%;
}
/* featured */

.featured-container{
    margin-top: 60px;
    margin-bottom: 40px;
    padding: 20px;
}
.featured-title{
font-size: 1rem;
margin-bottom: 10px;
}
.featured-desc{
    
width: 350px;
}
.featured-pic{
    width: 100%;
}


}

/* tablet medium device responsive */
@media screen and (min-width: 577px) and (max-width:992px) {
    .nav-container, .hero-container, .featured-container{
        flex-direction: column;
    }
    .hero-container{
        padding: 20px;
        text-align: center;
    }
    .logo-container{
        flex-wrap: wrap;
        padding: 30px;
    }
    .gallery-container, .featured-container{
        padding: 20px;
    }
}